// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rules_title {
  font-size: 18px;
  font-weight: 800;
  margin-top: 40px;
  font-family: "Segoe UI";
  display: block;
  margin-bottom: 10px;
  color: #710404;
}