<h1>MoGsClash Rules</h1>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">></span></li>  
  <li><%= link_to "Rules", rules_path %></span></li>  
</ul>
<h4>What is MoGsClash</h4>


<h4>General Rules</h4>