<h1>MoGsClash Rules</h1>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">></span></li>  
  <li><%= link_to "Rules", rules_path %></span></li>  
</ul>

<span class="rules_title">What is MoGsClash</span>
<p>
  <strong>MoGsClash</strong> is hosting a <strong>1on1</strong> contest amongs Summoners on <strong>League Of Legends</strong>.
  <br>
  The rules are simple. Whenever you feel ready, challenge other summoners in a 1on1 fight to death.<br>
  The winner takes some of the loser's point on a system called <strong>ELO</strong>.<br>
  Win and gather points, climb to the top and become the <strong>King Of MoGsClash</strong>.<br>
  There will be only one seat.. and many foes.. will you survive?  
</p>

<span class="rules_title">General Rules</span>
<p>
  A MoGsClash match takes place under these following rules :
  <ul>
    <li>The game is a <strong>1on1</strong> on League of Legends.</li>
    <li>The duel takes place on the top lane on the map : <strong>The Summoner Rift</strong>.</li>
    <li>Champions are picked randomly meaning that the game must be created in the mode <strong>All Random</strong></li>
    <li>The duel is a <strong>B03</strong> meaning that the first one who reach two wins the duel.</li>
    <li>The person who <strong>summon a challenge</strong> has to enter the results</li>
    <li>The <strong>challenger</strong> has to validate the result</li>
  </ul>

  There's three way to win a game :
  <ol>
    <li>You make the <strong>first blood</strong></li>
    <li>You reach <strong>100 Creep Stats</strong></li>
    <li>You <strong>destroy the tower</strong></li>
  </ol>

  If you've reached one of the following conditions above before your opponent, you win the game and both players can leave the game.

</p>


<span class="rules_title">ELO Points</span>
<p>
  The ELO system points is based on a simple principle :  
  <ul>
    <li>A summoner with a higher ELO will win <strong>less points</strong> facing a summoner with a lower ELO.</li>
    <li>A summoner with a lower ELO will win <strong>more points</strong> facing a summoner with a higher ELO.</li>
    <li>If you win a challenge without losing any games (i.e. : 2-0), you'll earn an extra 2 points for the challenge. If you win but lost one game, you'll earn an <strong>extra 1 point</strong>.</li>
    <li>If you lose a challenge without winning any games (i.e : 0-2), you'll lose an extra 2 points for the challenge. If you lost but win one game, you'll lose one <strong>extra 1 point</strong>.</li>
  </ul>
</p>

<span class="rules_title">Upcoming</span>
<p>The following features will be implement in the very near future to provide MoGsClash other way to determine who deserves to be the King :
<ul>
  <li>Tournament</li>
  <li>Divisions</li>
  <li>Personal Statistics</li>
  <li>Profile page</li>
  <li>Notification system</li>
  <li>2on2 league</li>
</p>

<br>
<br>
